{% extends 'base.html.twig' %}

{% block title %}Candidats{% endblock %}

{% block body %}
    <h2><p class="text-muted">Selectionner un candidat</p></h2>
        <div class="row">
            {% for candidate in teacher.candidates %}
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <img class="card-img-top" src="{{ candidate.avatar }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">{{ candidate.fullname }}</a></h5>
                        <p class="card-text">Moodle Id : {{ candidate.moodleId }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><a href="">{{ candidate.email }}</a></small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}
