{% extends 'base.html.twig' %}

{% block title %}Acceuill{% endblock %}

{% block body %}
    <h1>Arrétez de vous plaindres !!</h1>
    <div class="container">
        <form class="form" action="" method="post">
            <input type="submit" name="update" value="Mettre à jour les données" class="btn btn-info">
        </form>
    </div>
{% endblock %}
