{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <form class="form" action="" method="post">
        <input type="submit" name="update" value="Mettre à jour les données" class="btn btn-info">
    </form>
    <div class="jumbotron mt-3">
        <p class="lead"><h1>Sélection du quiz</h1></p>
        <hr class="my-4">
        {% for quiz in teacher.quizzes %}
            <a href="{{path('candidates')}}"><li>{{ quiz.name }}</li></a>
        {% endfor %}
    </div>
{% endblock %}
