{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .add-teacher {
        color: #fff;
    }
    .add-teacher:hover {
        color: #eee;
    }
</style>

<div class="container mt-5">
    <button class="btn btn-primary">
        <a class="add-teacher" href="{{ path('add_teacher') }}">Ajouter un examinateur</a>
    </button>
    <ul class="mt-5" >
        {% for teacher in teachers %}
            {% if teacher.roles[0] != "ROLE_ADMIN" %}
                <li><a href="{{ path('') }}">
                    {{ teacher.fullname }} | {{ teacher.email }} | 
                        {% if teacher.roles[0] == "ROLE_USER" %}
                            Examinateur
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
